@keyframes myfirst{
	0% {-webkit-transform:rotate(0deg);
	transform:rotate(0deg);}
	25% {-webkit-transform:rotate(90deg);
	transform:rotate(90deg);}
	50% {-webkit-transform:rotate(180deg);
	transform:rotate(180deg);}
	75% {-webkit-transform:rotate(270deg);
	transform:rotate(270deg);}
	100%{-webkit-transform:rotate(360deg);
	transform:rotate(360deg);}

}
@-moz-keyframes myfirst /* Firefox */
{
	0% {-webkit-transform:rotate(0deg);
	transform:rotate(0deg);}
	25% {-webkit-transform:rotate(90deg);
	transform:rotate(90deg);}
	50% {-webkit-transform:rotate(180deg);
	transform:rotate(180deg);}
	75% {-webkit-transform:rotate(270deg);
	transform:rotate(270deg);}
	100%{-webkit-transform:rotate(360deg);
	transform:rotate(360deg);}
}

*{
	margin:0;
	padding: 0;
}
h1,h2,h3,h4,p,a,dl,dt,dd{
	font-family:'Arial','苹方','微软雅黑',sans-serif;
}
section{
	width: 100%;
	overflow: hidden;
}

/*first-page*/
.main{
	width: 100%;
	height: 800px;
	background-color: #22b573;
	overflow: hidden;
	position: relative;
}
#showImg{
	width:800px;
	position:absolute;
	background:url(../pic/90.jpg) no-repeat;
	height:450px;
	top:100px;
	left: 25%;

}
.showBg{
	width:100%;
	font-size: 100px;
	color: white;
	text-align: center;
	position: absolute;
	top: 202px;
	display: block;
	z-index:99;
}

#showImg div{
	width: 80px;
	height: 90px;
	display:inline-block;
	background: #22b573;
	position: absolute;
}
#showImg div:hover{
	background-color: #26b1b6;

}
.trans{
	display: inline-block;
	-webkit-transition:0.4s linear;
	transition:0.4s ease-in;
	animation:myfirst 5s;
}
.trans:hover{
	-webkit-transform:rotate(360deg);
	transform:rotate(360deg);
	cursor: pointer;
}
.arrow-down{
	width: 50px;
	height: 50px;
	position: absolute;
	bottom: 120px;
	right: 50px;
	-webkit-transition:0.4s linear;transition:0.4s ease-in;
}
.arrow-down:hover{
	-webkit-transform:rotate(360deg);
	transform:rotate(360deg);
}
/*nav*/
#nav{
	background-color:#42474B;
	width: 100%;
	height: 50px;
	color: white;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}
#nav a{
	text-decoration: none;
	color: white;
	float: left;
	padding-right: 20px;
}
#nav a:hover{
	color:#26b1b6;
	font-size: 1.5rem;
}
.a-nav{
	width: 500px;
	height: auto;
	float: right;
	line-height: 50px;
}
h4{
	display: inline;
	line-height: 50px;
}
/*个人简历*/
#resume{
	width: 100%;
	height:auto;
	background-color: #1889c5;
	position: relative;
	color: white;
}
#resume ul{
	width: 1000px;
	height:300px;
	margin: 80px auto 0 auto;
}
.headImg a{
	background: url(../pic/e8.jpg) no-repeat -50px -10px;
	width: 200px;
	height: 200px;
	display: inline-block;
	border-radius: 100px;
	border: 1px solid black;
	-webkit-transition:0.4s linear;transition:0.4s ease-in;
}
.headImg a:hover{
	-webkit-transform:rotateY(180deg);
	transform:rotateY(180deg);
}
.headImg{
	margin-right: 40px;
}
#resume ul li{
	float:left;
	padding-right: 40px;
	list-style-type: none;
}
#resume ul li{
	display: inline-block;
	width: 200px;
	height: 200px;
	position: relative;
}
.weibo a,.blog a,.email a{
	position: absolute;
	display: inline-block;
	width: 64px;
	height: 64px;
	bottom:0;
	left: 0;
}
.blog a{
	background:url(../pic/blog.png) no-repeat;
}
.blog a:hover{
	background:url(../pic/blog1.png) no-repeat;
}
.weibo a{
	background:url(../pic/weibo.png) no-repeat;
}
.weibo a:hover{
	background:url(../pic/weibo1.png) no-repeat;
}
.email a{
	background:url(../pic/email.png) no-repeat;
}
.email a:hover{
	background:url(../pic/email1.png) no-repeat;
}
.personal{
	width: 1000px;
	height: 400px;
	margin: 0 auto;
	position: relative;
}
.myinfo{
	width: 400px;
	height: auto;
}
.myinfo dl a{
	text-decoration: none;
	color: white;
}
.myinfo dl a:hover{
	text-decoration:underline;
	color: black;
	font-size: 20px;
}
.personal p{
	width: 600px;
	margin-left: 400px;
	position: absolute;
	top: 0;
	right: 0;
}